@model todoApp.Models.TodoTask;

<div class="todoInput">
    <form  asp-action="Create" id="form-action" method="post">
        <input type="text" class="w-100" placeholder="Task"/>
        <a class="btn btn-primary mt-3 w-100">Save</a>

    </form>
</div>