@model IEnumerable<todoApp.Models.TodoTask>

<div class="text-center">
    <h1 class="display-4">To-Do App</h1>
</div>

<div>
    <table class="table">
    <thead>
        <tr>
            <th class="text-center">
                <span>Task</span>
            </th>
            <th class="text-center">
                <span>Status</span>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td class="text-center">
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>